header {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    flex: 0 0 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/*start of Search & Buttons CSS*/
#searchForCity {
    display: block;
    flex-wrap: wrap;
    width: 25%;
    margin-right: 5%;
}

#searchForCity h2 {
    text-align: center;
    margin: 5px;
}

#search-box {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: 5px;
}

#searchBtn {
    background-color: rgb(101, 165, 238);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
}

#btns button{
    background-color: #929996; /* grey background */
    border: 1px solid grey; /* grey border */
    border-radius: 10px;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    margin: 10px;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

#btns button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }

#btns button:hover {
    background-color: #cbcfcd;
}
/*end of Search & Buttons CSS*/
/*start of display CSS*/

#displays {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

#displayMain {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: black 1px solid;
    width: 100%;
}

#display5 {
    columns: 5;
    min-width: 100%;
    min-height: 100px;
    color: white;
}

#fiveDay {
    border: 1px white solid;
    background-color: rgb(93, 95, 128);
    padding-left: 10px;
}

#day1, #day2, #day3, #day4, #day5 {
    padding-top: 2px;
}

#displaySearch {
    padding-top: 10px;
    padding-left: 10px;
}

#nameDate h2 {
    margin: 0;
}
/*end of display CSS*/